/* CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT REMOVE */

/* Start New Wide Layout Code */


.borda{
    border-radius: 29px;
	
}

.quantidade-produto{
    width: 12px;
    float: left;
    margin-top: -11px;
    margin-left: 4px;
    font-size: 17px;
    font-weight: bold;
}

.descproduto{
font-size:18px;
font-style:normal;
font-weight:300;
color:#808080;
}
.preco{
    float: right;
    font-size: 17px;
    font-weight: bold;
    color: rgba(12,12,12,0.8);
    margin-top: -2px;
    margin-right: 8px;
}
.botaocomprar{
    float: left;
    width: 90px;
    margin-top: -10px;
}



.imgproduto{
		padding-left: 0px;
		width:100%;
		border: solid 0px #000;
	}

.imgproduto img{
		width:100%;
	}

.div-preco-produto{
	margin-bottom: 40px;
}


















@media only screen and (min-width: 1140px){

.fixed-width{width:1140px;}

.container .one-column.column{width:1120px;}

.container .eight.columns{width:360px}

.container .sixteen.columns{width:740px;}

.container .one-half.column{width:549px;
/*width:550px;*/}

#news-bar-2b56236c7f411dc078c5782f4abdf605.news-bar-style-1 strong {
    background-color: #dd560e;
}

p, .single-post-content li, #content_area li, .op-popup-button .default-button{font-size:15px;color:#78808a}h4,.main-content h4,.single-post-content h4,.older-post h4 a{font-style:normal;font-weight:300}a,a:visited{text-decoration:none}a:hover{text-decoration:none}.footer-navigation ul li a{color:#8f959e;text-decoration:none}.footer-navigation ul li a:hover{color:#78808a;text-decoration:none}.footer p{color:#8f959e}.footer h1{color:#8f959e}.footer h2{color:#8f959e}.footer h3{color:#8f959e}.footer h4{color:#8f959e}.footer h5{color:#8f959e}.footer h6{color:#8f959e}.footer a{color:#8f959e;text-decoration:none}.footer a:hover{color:#78808a;text-decoration:none}.footer small.footer-copyright{color:#8f959e}.footer small.footer-copyright a{color:#8f959e;text-decoration:none}.footer small.footer-copyright a:hover{color:#78808a;text-decoration:none}.footer small.footer-disclaimer{color:#8f959e}.footer small.footer-disclaimer a{color:#8f959e;text-decoration:none}.footer small.footer-disclaimer a:hover{text-decoration:none;color:#78808a}#navigation-alongside li:hover > a{background-color:#ffffff !important}#navigation-alongside li ul.sub-menu, #navigation-alongside li ul.sub-menu li{background-color:#ffffff !important}#navigation-alongside li ul.sub-menu li:hover > a{background-color:#ffffff !important}body .container .include-nav .navigation ul li:hover > a,body .container .include-nav .navigation ul a:focus{color:#78808a}div.include-nav .navigation ul li a{color:#8f959e}body .container .include-nav .navigation ul li ul li:hover > a,body .container .include-nav .navigation ul li ul li a:focus{color:#78808a}div.include-nav .navigation ul li ul li a{color:#8f959e}



.container .one-third.column{width:360px;}
.container .two-thirds.column{width:740px;}

.container .one-fourth.column{width:265px;}
.container .two-fourths.column{width:550px;}
.container .three-fourths.column{width:835px;}

.container .one-fifth.column{width:208px;}
.container .two-fifths.column{width:436px;}
.container .three-fifths.column{width:664px;}
.container .four-fifths.column{width:892px;}

.container .twentyfour.columns{width:1120px;}

}

 /* End New Wide Layout Code */

.testimonial-image-style-6{margin:20px auto;}

body, h1, h2, h3, h4, h5, h6, p, li, ul{
font-family: 'Roboto', sans-serif;
-webkit-font-smoothing:auto;
    text-rendering: optimizelegibility;
}


@media only screen and (max-width: 959px) {
.book-cover img{
position:initial;
}
}

@media only screen and (max-width: 767px) {

.image-caption{
float:none !important;
 margin:0px auto;}

.image-text-style-2{
text-align:center;
}

.image-text-align-left p{
text-align:center;
}

.image-text-align-left h3{
text-align:center;}

.image-text-style-2 img{
margin-bottom:20px;
}

.pre-order h2, .pre-order p{
text-align:center !important;
}
}

@media only screen and (max-width: 759px) {
body, p{font-size:15px !important;}
h2{font-size:30px !important;line-height:36px !important;}
h3{font-size:18px !important;line-height:24px !important;}
}

@media only screen and (max-width: 479px) {
body, p{font-size:14px !important;}
h2{font-size:35px !important;line-height:40px !important;}
h3{font-size:20px !important;line-height:25px !important;}
.feature-block h2{font-size: 15px !important;line-height: 20px !important;}
.image-text-align-left p{line-height:22px !important;}

}
.feature-block-style-icon.feature-block .feature-block-icon{
max-width:45px;
}


.image-text-style-2 img{float:right;
width:200px;
-webkit-box-shadow: 2px 2px 10px #000;
-moz-box-shadow: 2px 2px 10px #000;
-o-box-shadow: 2px 2px 10px #000;
box-shadow: 2px 2px 10px #000;
-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
-moz-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
-o-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
box-shadow: 2px 2px 10px rgba(0,0,0,.4);
border: 5px solid #fff;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius:50%;
}

.image-text-style-2 .image-text-style-img-container{width:29%;}

.image-text-align-left h3{font-weight:300;} 

.image-text-align-left p{font-size:16px;line-height:26px;}

@media only screen and (min-width: 960px) and (max-width:1139px){
.container .one-half.column{width:459px}
}



.feature-block h2{letter-spacing:0px;}

.banner { 
    padding: 10px 0 10px;
    border-bottom: 1px solid #eee;
}

.banner .op-logo img {
    display: none;
    max-width: 200px;
    padding: 6px 0 0;
    vertical-align: middle;
}

.banner h1.site-title {
    display: none;
}

.banner h2.site-description {
    display: none;
}


.css-button.style-1 .text, .op-text-block p {
    -webkit-font-smoothing: auto; 
}

::selection {
    background-color: #4b5663;
    color: #fcfcfc;
}

::-moz-selection {
    background-color: #4b5663;
    color: #fcfcfc;
}

.open-sans-600 h2 {
    font-weight: 600;
}

.news-bar-style-1 p {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #a5aab1;
}

.news-bar-style-1 strong {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 400;
}

#le_body_row_2_col_2 {
    border: 1px solid #d2d4d8;
	background-color: #FFF;
    /*-webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;*/
}

.pad {
    padding-left: 20px;
    padding-right: 20px;
}

ul, ol {
    margin-bottom: 0;
}

.button .css-button.style-1 .text {
    font-weight: 600 !important;
}

.optin-box-6 .text-box {
    background-color: #fdfdfd;
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #d2d4d8;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    box-sizing: content-box;
    display: block;
    margin: 0 auto 15px;
    padding: 15px;
}

.optin-box-6 input[type="text"], .optin-box-6 input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #626b77;
    width: 100%;
}

.optin-box-6 .privacy {
    color: #a5aab1;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}
    
.arrowup {
    border-bottom: 20px solid rgba(0, 0, 0, 0.05);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    left: 30px;
    position: relative;
    width: 0;
}

.featbox .feature-box-22 {
    border: none;
}

.featbox .feature-box-22 .feature-box-content {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer .fixed-width {
    margin-bottom: 20px;
    padding: 25px 0 20px;
}

.op-promote {
    display: none;
}

@media only screen and (max-width: 767px) {
    .banner {
        padding: 10px 0 13px;
    }

    .banner .op-logo img {
        padding: 0;
    }

    .row1 {
        padding-top: 40px !important;
    }

    .news-bar-style-1 strong:after {
        display: none !important;
    }

    .news-bar-style-1 span {
        padding: 1em !important;
        line-height: 1em !important;
    }

    .footer .fixed-width {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .banner {
        padding: 10px 0;
    }

    .banner .op-logo img {
        padding: 0;
    }

    #le_body_row_2_col_2 {
        width: 362px !important;
    }

    .row2 {
        padding-bottom: 20px !important;
    }

    .news-bar-style-1 {
        text-align: center !important;
    }

    .news-bar-style-1 strong:after {
        display: none !important;
    }

    .news-bar-style-1 span {
        display: block !important;
        padding: 1em !important;
        line-height: 1em !important;
    }

    .news-bar-style-1 strong {
        display: block !important;
        margin: 0 !important;
    }

    .news-bar-style-1 p {
        padding: 0 !important;
        white-space: normal !important;
    }

    .footer .fixed-width {
        margin-bottom: 0;
    }
}

.op-popup-content-visible h2 {line-height:32px;}

@media only screen and (max-width: 479px){

.button .css-button.style-1 .text{font-size:20px !important;}

.op-popup-content-visible h2 {
font-size: 24px !important;
line-height: 29px !important;
}
}

#entrada {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
    width: 310px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.borda-view1 {
    border-left: 1px solid #d2d4d8;
    border-top: 1px solid #d2d4d8;
    border-bottom: 1px solid #d2d4d8;
	background-color:#fff;
}
.borda-view2 {
    border: 1px solid #d2d4d8;
	background-color:#fff;
}

body {
    background-color: #f9f9f9;
}

.barra-rolagem{
	overflow-y: auto;

}

.nomeusuario{
    font-weight: bold;
	color: #727272;
}
.textousuario{
	color: #959595;
}
.chat{
padding-top: 8px;	
}

#CallToActionContato{
	position: absolute;
    top: 74px;
    left: -360px;
    height: 51px;
    width: 340px;
    z-index: 1;
    border: solid 1px #c0c0c0;
    font-size: 20px;
    padding-left: 42px;
    padding-top: 10px;
    background-color: #FFF;
    border-radius: 30px;
}
#produto01{
	position:fixed;
	top:5px;
	left: -150px;
	height:150px;
	width:150px;
	z-index: 1
}

#produto02{
	position: fixed;
    top: 207px;
    left: -150px;
    height: 360px;
    width: 110px;
	z-index: 2
}

#produto03{
    position: fixed;
    top: 226px;
    left: -150px;
    height: 360px;
    width: 101px;
	z-index: 3
}

#produto04{
    position: fixed;
    top: 446px;
    left: -150px;
    height: 360px;
    width: 100px;
	z-index: 4
}
.listausuario {
	padding-left: 10px;
    padding-right: 10px;
}

.qtdusuario{
    font-size: 18px;
    font-weight: bold;
}

.reauth-msg{
	text-align: center;
    color: #d81010;	
	display: none;
}
/*::-webkit-scrollbar {
      width: 10px;
}  */

/* CUSTOM CODE ABOVE REQUIRED FOR THIS TEMPLATE DO NOT REMOVE */